body {
  background-color: cornflowerblue;
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}

button,
input {
  border: solid gray 1px;
  border-radius: 4px;
  margin-top: 10px;
  padding: 4px;
}

input {
  margin: 0 10px;
}

label {
  color: white;
}