.game {
  --size: 40px;
  margin-top: 20px;
}

.game .position {
  border: solid blue 1px;
  display: inline-block;
  height: var(--size);
  line-height: var(--size);
  text-align: center;
  vertical-align: top;
  width: var(--size);
}

.game.over .position {
  border-color: lightblue;
}

.game > .row {
  height: var(--size);
}
